$primLight:#4482D1;
$primMedium: #504D6B;
$primDark: #2E239E;
$seconLight: #C3CACB;
$seconDark: #00514f;
$textLight: #C1DED5;
$textDark: #252033;
$fontText: 'Oswald',
sans-serif;
$fontHeader: 'Roboto Slab',
serif;
html {
    background-color: $seconDark;
    header {
        height: 10%;
        display: block;
        position: relative;
        h1 {
            font-size: 40px;
            text-align: center;
            color: $textLight;
            text-transform: uppercase;
            font-family: $fontHeader;
        }
    }
    section {
        width: 90%;
        margin: auto;
        display: block;
        position: relative;
        .box {
            width: 20%;
            margin-left: 5%;
            margin-top: 5%;
            background-color: $seconLight;
            border-radius: 2%;
            display: inline-block;
            height: 340px;
            padding-bottom: 1%;
            position: relative;
            h1 {
                font-size: 25px;
                text-align: center;
                color: $textDark;
                font-family: $fontHeader;
            }
            img {
                width: 70%;
                margin-left: 15%;
                margin-bottom: 3%;
                border-radius: 2%;
            }
            p {
                font-size: 15px;
                padding: 5%;
                text-align: justify;
                font-family: $fontText;
                margin-bottom: 7%;
            }
        }
        form {
            background-color: $seconLight;
            width: 50%;
            margin: auto;
            border-radius: 2%;
            h1 {
                font-size: 25px;
                text-align: center;
                color: $seconDark;
                padding-top: 10px;
                font-family: $fontHeader;
            }
            .form-input {
                margin-left: 10%;
                width: 80%;
                height: 10%;
                margin-bottom: 5%;
                font-family: $fontText;
                font-size: 16px;
            }
            .form-area {
                margin-left: 10%;
                width: 80%;
                height: 20%;
                margin-bottom: 5%;
                font-family: $fontText;
                font-size: 16px;
            }
            button {
                margin-left: 25%;
                margin-bottom: 5%;
                width: 50%;
                padding: 2%;
                background-color: $seconDark;
                border: none;
                color: $textLight;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-family: $fontText;
            }
        }
    }
}
